*  {
    padding: 0;
    margin: 0;
    border: 0;
}

.wrapper  {
    background-color: beige;
    display: flex;
    justify-content: center;
    max-width: 1170px;
    margin: 0 auto;
}

/*header*/


/*main*/

.main {
    text-align: center;
    justify-content: center;
    max-width: 35%;
}

.news-line {
    display: flex;
    max-width: 100%;
}

.second-news {  
    display: flex;
}
